
<div class="joyride-tip-guide tip-module-ckeditor-axe tip-type-text tip-introduction" data-index="0">

  <span class="joyride-nub" style="display: none;"></span>

  <div class="joyride-content-wrapper" role="dialog" aria-labelledby="tour-tip-introduction-label" aria-describedby="tour-tip-introduction-contents">
    <h2 class="tour-tip-label">{{ label }}</h2>

    <p class="tour-tip-body">{{ body }}</p>

    <div class="tour-progress">{{ progress }}</div>

    <a href="#" class="button button--primary joyride-next-tip">Next</a>
    <a href="#close" class="joyride-close-tip" aria-label="Close">×</a>
  </div>
</div>

<li data-target="#basic-joyride">
  <h3>First</h3>
  <p>This is the default one without settings</p>
</li>
